/*
Colors used
Text Color (black): #000;
Secondary Color (unvisited link_dark grey): #4c4c4c;
primary-color (ruby red): #bb3355;
primary-color-lighter (hover color light ruby red):  #c85b76;
primary-color-lighter2: Activated Color (lighter ruby red): #eecdd6
Very dark grey:  #323232;
Very light grey:  #eee;
bright orange:  #e79e19;
 */
:root {
    --primary-color: #417ddd;
    /* --primary-color: #3676df ; */
    --primary-color-darker:#1060e4;
    /* --primary-color-lighter2: #eecdd6; */
    --secondary-color: #eee;
    --link-hover-color: #032050;
    --table-bg-dark:#e9ecef;
    --table-bg-light:#f8f9fa;
    --shadow-color: #b2b2b2;
    --shadow-color-lighter: #e5e5e5;

    --dark-grey: #323232;
    --bright-orange: #e79e19;
    --font-weight-l: 400;
    --font-weight-h: 700;
    --font-size1: 30px;
    --font-size2: 24px;
    --font-size3: 18px;
    --font-size4: 16px;
    --font-size5:14px;
    --font-special: 'Press Start 2P', cursive;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: var(--font-size4);
    font-weight: var(--font-weight-l);
    line-height: 1.6;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100vw;
}

h1 {
  font-size: var(--font-size1);
  font-weight: var(--font-weight-h);
}

h2 {
    font-size: var(--font-size2);
    font-weight: var(--font-weight-h);
}

h3 {
    font-size: var(--font-size3);
    font-weight: var(--font-weight-h);
}

th {
    font-weight: var(--font-weight-h);
}

th,td {
    padding: 0px 5px;
}

b {
    font-weight: bold;
}

a {
    color:var(--primary-color);
}

a:hover, a:focus{
    color:var(--link-hover-color);
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/*header*/
/* .page-header img {
    width: 100%;
    height: 100%;
}

.logo_wrapper {
    width: 200px;
} */

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: center;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.page-header__item {
    flex: 0 1 400px;
}

.page-header__item h2 {
    font-family:'Press Start 2P', cursive;
    color: var(--secondary-color);
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}
.navigation-list {
    list-style-type: none;
    
}
.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item,.navigation-list__item--avtive {
    color: var(--secondary-color);
}

.navigation-list__item--avtive {
    text-decoration: none;
}

/*page-footer*/
.page-footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}

.social-media__icon {
    width: 30px;
    height: auto;
}

/* index-page__<main>*/
.profile {
    max-width: 700px;
    margin: 0 auto; /*to center the main part*/
    padding: 0 5%;
    padding-top: 23vh;
}

.profile h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 6%;
    border-radius: 50%;
    transition: box-shadow 0.3s ease-in-out;
}

.profile__portrait:hover,
.profile__portrait:focus {
    box-shadow: 0 5px 5px 5px var(--shadow-color);
}

.profile h3 {
    display: inline-block;
}

.profile a {
    display: flex;
    color: var(--primary-color)
}

.profile a:hover {
    color: var(--primary-color-darker)
}

.profile h3, .profile p, .profile a {
    padding: 0 0 4% 0;
}

#profile__web {
    background-color:var(--dark-grey);
    color: var(--bright-orange);
    font-weight: var(--font-weight-h);
}

/*about-me page*/
button, .button {
    border-radius: none;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    background-color: var(--primary-color);
    border: none;
    color: white;
    text-decoration: none;
    padding: 9px;
    border-radius: 8px;
    transition:0.2 background-color;
}

button:hover, button:focus,
.button:hover, .button:focus {
    color:white;
    cursor: pointer;
    background-color: var(--primary-color-darker);
}

.about-me {
    text-align: center;
    margin: 0 auto;
    padding: 0 5%;
    padding-top: 11vh;
    max-width: 1000px;
}

.about-me h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    padding-bottom: 10px;
}

.about-me__item > p {
    text-align: left;
}

.about-me table {
    margin: 0 auto;
}

.about-me__item > thead {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.about-me__item th, .about-me__item td{
    border:solid 1.5px white;
    padding: 6px 20px;
    width:33.33%;
}

tbody > tr:nth-child(odd) {
    background-color: var(--table-bg-light);
}

tbody > tr:nth-child(even) {
    background-color: var(--table-bg-dark);
}

.about-me .button {
    margin:30px auto 32px;
}

.svg-wrapper__global {
    max-width: 300px;
    margin:3px auto 0;
}

@keyframes color-change {
    0%{
        fill: #0455d8;
    }

    35% {
        fill: #3676df;
    }

    70%{
        fill: teal;
    }

    100% {
        fill: #008000;
    }
}

.global-map {
  animation: 5s color-change infinite alternate linear;
}

/*work-page__<section>*/
.container-project {
    width:100%;
    padding-top: 11vh;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
}

.project-header {
    width: 100%;
    text-align: center;
    padding-bottom: 35px;
}

.project-header h1 {
    font-size: 22px;
    font-family: 'Press Start 2P', cursive;;
}

@supports (display: grid) {
    .project-list {
        width:auto;
        min-height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 25px;
        justify-items: center;
    }

    .project-list__item {
        background-color: var(--light-grey);
        text-align: left;
        width: auto;
        min-height: auto;
        border-radius: 10px;
        box-shadow: 3px 3px 12px var(--shadow-color);
        /* max-width: 400px; */

        display: flex;
        flex-flow: column;
    }

    .project-img-wrapper {
        width:100%;
        aspect-ratio: 1.45;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: solid 1px var(--shadow-color-lighter);
    
    }
    
    .project-list__item--img {
        height:auto;
        width: 100%;
    }
    .project-text-wrapper {
        padding: 5%;
    }
    
    .project-list__item--header {
        font-family: var(--font-special);
        font-size: 18px;
        color: var(--primary-color);
        padding: 10px 0;
    }
    
  /*   .project-list__item--content {
        padding-bottom: 15px;
    }
     */
    .project-list__item--content p {
        padding-bottom: 10px;
    }

    .project-list__item--content > p:last-child {
        padding-top: 20px;
    }
    
    .project-list__item--btn {
        display: flex;
        justify-content: flex-end;
        margin-top: auto; 
        padding: 0 5% 5% 5%;
    }
    
    .project-list__item--btn a:last-child {
        margin-left: 10px;    
    }
    
    .project-list__item--btn a:first-child{
        padding: 10px;
        color: var(--primary-color);
    }
    
    .project-list__item--btn a:first-child:hover {
        color: var(--primary-color-darker);
    } 
}

@media all and (max-width:500px) {
    .page-header__item h2 {
        font-family:'Press Start 2P', cursive;
        color: var(--secondary-color);
        font-size: 14px;
    }

    .page-footer {
        padding-bottom: 10px;
    }

    .profile {
        padding-top: 20vh;
        padding-bottom: 10vh;
    }

    .profile h3 {
        padding: 30px 0 25px;
        font-size: 16px;
    }

    /* About-me */
    .about-me {
        padding-top: 16vh;
        width: 100%;
    }

    .about-me__item th, .about-me__item td{
        border:solid 1.5px white;
        padding: 3px 5px;
        width:33.33%;
        font-size: 14px;
    }

    /* work section */
    .project-header, .project-header h1 {
        font-size: 12px;
    }

    .container-project {
        padding-top: 15vh;
    }

    .project-list {
        grid-template-columns: 1fr;
    }

    .project-list__item {
        max-width: 400px;
    }

    .project-list__item--header {
        font-size: 16px;
    }
    
}

@media all and (min-width: 500px) and (max-width: 1000px) {
    /* work-page */
    .container-project {
        padding-top: 10vh;
    }

    .project-list {
        grid-template-columns: 1fr 1fr;
    }
}


/*contact-page*/
.container-contact {
    margin: 2% 3%;
    text-align: center;
}
.contact, .contact-form, .contact address {
    margin: 2% auto;
}

.contact .button {
    margin: 3%;
}
